@import 'tailwindcss';
/* prettier-ignore */
@plugin 'tailwind-clamp' {
  minSize: 23.4375rem;
  maxSize: 80rem;
}
/* prettier-ignore */
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card-accent: var(--card-accent);
  --color-card: var(--card);
}

@theme {
  --color-orenda-purple: rgba(46, 0, 134, 1);
  --color-orenda-green: rgba(18, 120, 1, 1);
  --color-error-red: rgba(187, 35, 19, 1);
  --color-purple-mist: rgba(249, 246, 255, 1);
  --color-lavender-mist: rgba(236, 227, 255, 1);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0 0);
  --card: oklch(1 0 0);
  --card-accent: oklch(0.99 0 0);
  --card-foreground: oklch(0.13 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0 0);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.13 0 0);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.98 0.0123 301.29);
  --sidebar-accent-foreground: oklch(0.31 0.182552 283.123);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.13 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scrollbar-gutter: auto;
  }

  body {
    @apply bg-background text-foreground scrollbar-thin scrollbar-thumb-rounded-3xl scrollbar-thumb-zinc-600/60 accent-[#333];
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .box_center {
    @apply clamp-[pt,24,36] flex flex-col items-center;
  }

  .container {
    @apply mx-auto max-w-7xl;
  }

  .padding_inline {
    @apply clamp-[px,5,8] sm:clamp-[px,8,12];
  }

  .pending_form {
    @apply bg-[#FFE9A4] text-[#5C4600];
  }

  .submitted_form {
    @apply bg-[#CFFFC9] text-[#0A5E00];
  }
}
@layer components {
  .auth_page_heading {
    @apply clamp-[text,2xl,1.75rem] text-center font-bold;
  }

  .db_section {
    @apply bg-card text-card-foreground border-border clamp-[px,4,6] clamp-[pt,4,8] clamp-[pb,4,1.38rem] w-full rounded-[1.25rem] transition-colors duration-300;

    .heading {
      @apply mb-7 text-lg font-bold;
    }
  }

  .card {
    @apply bg-card text-card-foreground border-border hover:bg-card-accent clamp-[px,4,6] clamp-[pt,4,8] clamp-[pb,4,1.38rem] rounded-3xl border transition-colors duration-300;
  }
  .card_heading {
    @apply mb-2 flex items-center gap-2 text-sm font-semibold [&_svg]:size-5;
  }

  .error_message {
    @apply text-error-red mt-1 text-sm;
  }

  .label {
    @apply mb-2 block text-sm font-medium;
  }

  .preview_heading {
    @apply mb-2 text-base font-medium underline underline-offset-2;
  }

  .preview_label {
    @apply w-full font-medium;
  }
  .preview_data {
    @apply text-sm text-zinc-600;
  }
}
